<div>
  <h1>
    Welcome to {{title}}!
  </h1>
  <input [(ngModel)] = "trainer.name">
  <pre>{{pokemon|json}}</pre>
  <ul>
    <li *ngFor="let poke of pokemon">{{poke.name}} trained by {{trainer.name}}</li>
  </ul>
</div>